.container h1{
    font-size: 2em;  /* Adjust size as needed */
    font-weight: bold;
    color: #000000;
}
.container p{
    color: #000000;
}
.container{
    background-color: #ffffff;
}
.container li{
    font-style: italic;
    list-style-type: disc;
}

.container ol{
    list-style-type: disc;

}

.container ul{
    list-style-type: disc;
    margin-left: 50px;
}
.container{
    padding: 20px;
    width: 100%;
}