@import "react-slideshow-image/dist/styles.css";

@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
}

.cedarville-cursive-regular {
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
}

#main-content {
  flex-grow: 1;
}

@media (max-width: 700px) {
  .flex-container {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 700px) {
  .links-container {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 700px) {
  .app-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
.signature-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  margin-bottom: 50px;
}

@media (max-width: 700px) {
  .slider-container {
    display: none;
  }
}

.app-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 14px;
  justify-items: center;
  align-items: center;
}

@media (min-width: 700px) {
  .app-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 700px) {
  .app-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .text-center-sm {
    text-align: center;
  }
}